:root{
  --primary-color: #712999;
  --secondary-color: #DECC32;
  --black-color: #111111;
  --white-text: #FFFFFF;
  --button-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.25)); 
  --button-background: linear-gradient(286.47deg, #712999 80.38%, rgba(113, 41, 153, 0) 109.18%);
  --dashboard-background: #EAEAEA;
}